body{
  padding: 0px;
  margin: 0px;
}
.img-header{
    border-radius: 50%;
    height: 70px;
    width: 60px;
}
.footer{
    width: 100%;
}


.c-item{
    height: 570px;

}


.c-image{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    filter:brightness(0.6) ;
}
#miss_kk{
  border-radius: 10px;
    height: 120%;
    width: 100%;
    filter:brightness(0.6) ;
}



.content {
    display: flex;
    margin-top: 2%;
    justify-content: center;
    gap: 4rem;
  }

  
  .nav-link{
    color: whitesmoke;
    text-decoration-style: wavy;
    
  }
  .nav-link:hover {
    color: whitesmoke;
    border-radius: 5px;
    border:1px solid white;
  }

  .nav-link:focus {
    color: whitesmoke;
    border-radius: 5px;
    border:1px solid white;
}
#home-home:not(:focus) {
  color: whitesmoke;
  border-radius: 5px;
  border:1px solid white;
}
#about-about:not(:focus) {
    color: whitesmoke;
    border-radius: 5px;
    border:1px solid white;
}
#contact-contact:not(:focus) {
  color: whitesmoke;
  border-radius: 5px;
  border:1px solid white;
}

#palace-palace:not(:focus) {
  color: whitesmoke;
  border-radius: 5px;
  border:1px solid white;
}

#kekuda-kekuda:not(:focus) {
  color: whitesmoke;
  border-radius: 5px;
  border:1px solid white;
}

.dropdown-menu{
    background-color: #3f9e3f; 
}
.dropdown:visited{
    color: whitesmoke
}
.dropdown-item{
    color: whitesmoke;
}
.dropdown-item:hover{
    color: #3f9e3f;
    border-radius: 5px;
    border:1px solid white;
}

.content-contact{
  margin: auto;
  gap: 4rem;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.palace-content{
  margin: auto;
  margin-top: 1%;
  height: 100%;
}
/* content on home page */
.content-home{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 2%;
}
/*side bar */
#sidebar{
  border-style: ridge; 
  position: sticky; 
  margin-top: 0px; overflow-y: scroll;
  max-height: 565px; 
  margin-right: 2%;
  padding: 0;"
}

  @media only screen and (max-width: 600px) {
    .carousel{
        margin-top: 0px;
        width: 65%;
        margin-left: 2%;
        height: 100%;
        position: sticky;
    }
    
    .content-contact{
      margin: auto;
      gap: 2rem;
       flex-direction: column; 
       align-items: center;
    }

    .palace-content{
      margin: auto;
      margin-top: 4rem;
     flex-direction: column;
      display: flex;
      align-items: center;
      align-content: space-around;
    }
    
    .content {
        display: flex;
        max-width: auto;
        margin-top: 4%;
        justify-content: center;
        gap: 0.5rem;
      }
    
      .sidebar{
        border-style: ridge;
        position: sticky;
        margin-top: 0px;
        overflow-y: scroll;
        max-height: 565px;
        margin-right: 2%;
        padding: 0;
      }
      .content-home{
        display: flex;
       flex-direction: column;
      }
  }